/* General layout */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #2e3a4a;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto;
  overflow: hidden;
  font-family: bahnschrift;
  font-size: 15pt;
}
/* How things look in CHAT */
.chat {
  width: auto;
  height: auto;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 2px;
  border-radius: 0 0 3px 3px;
}

.textinputbox {
  z-index: 0;
  height: auto;
  width: auto;
  box-sizing: content-box;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #eeeeee;
  padding: 5px;
  font-family: bahnschrift;
  font-size: 15pt;
  resize: none;
}

.textinputbox:focus {
  outline: none;
  background: #c45555;
  color: #1b232e;
  box-shadow: inset -22px 0 20px -20px rgba(0, 0, 0, 0.4);
}

.textinputbox::placeholder {
  color: #ffeaea;
}

.textinputbox::placeholder:focus {
  color: #1b232e;
}

.redbutton {
  color: #ffeaea;
  z-index: 1;
  float: right;
  height: 35px;
  border: none;
  border-radius: 3px;
  width: 80px;
  font-family: bahnschrift;
  font-size: 15pt;
}

.redbutton:hover {
  transform: scale(1.05);
}

.redbutton:focus {
  outline: none;
}

.textinputwrap {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  padding: 2px 0 2px 2px;
}

.loginwrap {
  position: fixed;
  list-style: none;
  display: none;
}

.searchwrap {
  grid-column: 3/4;
  grid-row: 1/2;
  box-sizing: border-box;
  padding: 2px;
  overflow-x: hidden;
  overflow-y: auto;
}

.serverwrap {
  grid-column: 1/2;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 48px auto;
  width: 50px;
  background: linear-gradient(to right, #415066 0px, #415066 50px, #2e3a4a 50px)
    #415066;
  margin: 2px 0 2px 2px;
  border-radius: 3px;
  overflow: hidden;
  transition: cubic-bezier(0.2, 0, 0.2, 1) 0.2s;
}

.serverwrap:hover {
  width: 280px;
}

.serverwrap ul {
  width: 180px;
}

.messagebox {
  padding: 10px;
  background: rgb(153, 33, 33);
  box-shadow: inset 0 10px 0 rgba(0, 0, 0, 0.4);
  float: left;
}

#searchResult {
  list-style: none;
  border-radius: 3px;
}
/*General styles and colour combinations*/
.dark-bg {
  background: #2e3a4a;
}

.mid-bg {
  background: #415066;
}

.red-bg {
  background: #d72323;
}

.text-light {
  color: #eeeeee;
}

.text-highlight {
  color: #d72323;
}

.transition-responsive {
  transition: cubic-bezier(0.2, 0, 0.2, 1) 0.1s;
}
