
@{
    ViewBag.Title = "_ChannelPartial";
}

<h2>Add channel</h2>

<input type="text" maxlength="50" id="channeladd_name"/><br/>
<input type="text" maxlength="150" id="channeladd_description"/><br/>
<input type="button" id="channeladd_button" value="Create"/>

@section scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/ChannelHub.js"></script>
}