
@{
    ViewBag.Title = "_ServerPartial";
}

<h2>Add server</h2>

<input type="text" maxlength="50" id="serveradd_name"/><br/>
<input type="text" maxlength="300" id="serveradd_description"/><br/>
<input type="file" accept="image/*" id="serveradd_image"/><br/>
<input type="checkbox" id="serveradd_isVisible" /><br/>
<input type="button" id="serveradd_button" value="Create"/>

@section scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/ServerHub.js"></script>
}
