
@{
    ViewBag.Title = "_ChannelPartial";
}

<h2>Add channel</h2>

<input type="text" maxlength="50" id="channel_add_name"/><br/>
<input type="text" maxlength="150" id="channel_add_description"/><br/>
<input type="button" id="channel_add_button" value="Create"/>

@section scripts
{
    <script src="lib/signalr/dist/browser/signalr.js"></script>
    <script src="js/ChannelHub.js"></script>
}