
@{
    ViewBag.Title = "_ServerPartial";
}

<h2>Add server</h2>

<input type="text" maxlength="50" id="server_add_name"/><br/>
<input type="text" maxlength="300" id="server_add_description"/><br/>
<input type="file" accept="image/*" id="server_add_image"/><br/>
<input type="button" value="Create"/>

@section scripts
{

}
