@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="searchwrap">
    <input class="redbutton red-bg transition-responsive" type="button" id="search" value="Search" />
    <textarea class="textinputbox dark-bg transition-responsive" rows="1" id="searchText" placeholder="Type search term."></textarea>
    <input type="hidden" id="fromUser" />
    <ul id="searchResult"></ul>
</div>

