<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
    <title>@ViewBag.Title - RedPoint</title>
    <script src="~/lib/modernizr/"></script>
</head>
<body class="dark-bg ">
<div class="loginwrap">
    
    @Html.Partial("_LoginPartial")
</div>
    <script src="~/lib/jquery/"></script>
    <script src="~/lib/bootstrap/"></script>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
