﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/site.css" />
    <title>@ViewBag.Title - RedPoint</title>
</head>
<body class="dark-bg ">
<div class="loginwrap">
    @await Html.PartialAsync("_LoginPartial")
</div>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
